.btn-nav:hover {
  color: #2e4583;
}

.btn-nav-discover {
  padding: 0 50px;
  background-color: #331f69;
}

.box-shadow:hover {
  box-shadow: 5px 5px 5px rgb(61, 61, 61);
}

#text-link:hover {
  color: white;
}
